table,
th,
td {
  border: 2px solid;
  text-decoration-style: solid;
  text-decoration-color: red;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
}

.red-text {
  color: red;
}

.blue-text {
  color: blue;
}

p.a {
  text-align: center;
  color: red;
  font-size: x-large;

}

p.b {
  text-align: left;
  color: red;
  font-size: large;

}

button {
  padding: 10px;
  color: white;
  background-color: blue;
  border-radius: 5px;

}




table {
  border-collapse: collapse;
  width: 50%;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.selected {
  background-color: yellow;

}

.notSelected {
  background-color: white;
}